ARK_API_KEY=你的火山方舟API_KEY
ARK_MODEL=你的方舟模型或接入点ID
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
PORT=5011
HOST=127.0.0.1
NO_BROWSER=1
HOTEL_AUTH_USER=admin
HOTEL_AUTH_PASSWORD=ChangeThisStrongPassword
